<div class="content-baner">
  <div class="img-header">
    <img src="assets/img/otros/img_header/Cartel1.png" alt="image">
  </div>
  <section class="slide_info">
    <div class="titels">
      <div class="logo_header">
        <img src="assets/img/otros/webneuraltax-2.png" alt="">
      </div>
      <h1>Optimize your taxes with AI</h1>
      <h2>Neuraltax streamlines every step of the tax process<br> through intelligent automation.</h2>
      <h1>More deductions</h1>
      <h2>less stress, full control</h2>
    </div>
    <app-get-tax-button></app-get-tax-button>
  </section>
</div>
