<section class="about-section">
    <div class="about-visual-new">
        <img src="assets/imagen-1.png" alt="Neuraltax Visual" class="about-img" />
        <div class="gradient-overlay"></div>
    </div>
    <div class="container about-container">
        <div class="about-content">
            <h2 class="section-title">{{ 'HOME.ABOUT.TITLE' | translate }}</h2>

            <div class="accordion">
                @for (item of accordionItems; track $index) {
                <div class="accordion-item" [class.active]="activeAccordion() === $index">
                    <button class="accordion-header" (click)="toggleAccordion($index)">
                        {{ 'HOME.ABOUT.QUESTIONS.' + $index + '.Q' | translate }} <span
                            class="material-symbols-outlined" style="vertical-align: middle;">keyboard_arrow_down</span>
                    </button>
                    <div class="accordion-body">
                        <p>{{ 'HOME.ABOUT.QUESTIONS.' + $index + '.A' | translate }}</p>
                    </div>
                </div>
                }
            </div>
        </div>
    </div>
</section>