<div class="content-baner">
  <div class="img-header">
    <img src="assets/img/otros/img_header/Cartel7.png" alt="image">
  </div>
  <section class="slide_info">
    <div class="titels">
      <div class="logo_header">
        <img src="assets/img/otros/webneuraltax-2.png" alt="">
      </div>
      <h1>Maximize yours savings</h1>
      <h2>and your peace of mind with<br> AI-powered tax optimization</h2>
      <h1>More deductions</h1>
      <h2>less stress, full Control</h2>
    </div>
    <app-get-tax-button></app-get-tax-button>
  </section>
</div>
