<section class="pricing-area pb-70 bg-f4f5fe">
  <div class="container">
    <div class="section-title">
      <h2>Membership plans</h2>
      <h3>Choose the membership plan that best fits your tax needs. All plans include our advanced AI technology and
        expert
        support.</h3>
    </div>

    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="flex single-pricing-table">
          <div class="pricing-header">
            <h3>Individual Free Member</h3>
            <h4>Essential tax services with AI <br> automation</h4>
          </div>
          <div class="price">
            <h3>Tax declaration <br>s fee $49</h3>
          </div>
          <ul class="pricing-features">
            <!-- title="Tight pants next level keffiyeh you probably haven't heard of them. -->
            <li><img class="check-icon" src="assets/img/otros/vector-10.svg" alt="icon"> AI form filling automation
            </li>
            <li><img class="check-icon" src="assets/img/otros/vector-10.svg" alt="icon"> RS/CISA level security</li>
            <li><img class="check-icon" src="assets/img/otros/vector-10.svg" alt="icon"> Direct e-file submission</li>
            <li><img class="check-icon" src="assets/img/otros/vector-10.svg" alt="icon"> Advance payment</li>
            <li><img class="check-icon" src="assets/img/otros/vector-10.svg" alt="icon"> Chatbot Assistant</li>
          </ul>

        </div>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="flex single-pricing-table smart_server">
          <div class="corner">
            <h4>Most Popular</h4>
          </div>
          <div class="pricing-header">
            <h3>Smart Saver</h3>
            <h4>Comprehensive monthly tax <br> management solution</h4>
          </div>
          <div class="price">
            <h3>$12/Monthly</h3>
          </div>
          <ul class="pricing-features">
            <li><img class="check-icon" src="assets/img/otros/vector-10.svg" alt="icon">
              Tax declaration fee
              <ul class="sub_list">
                <li class="sub_element">
                  $0 (if you have +4 months with membership)
                </li>
                <li class="sub_element">
                  $29–$39 (if you have less than 4 months)
                </li>
              </ul>
            </li>
            <li><img class="check-icon" src="assets/img/otros/vector-10.svg" alt="icon"> Chatbot Assistant (priority
              support)
            </li>
            <li><img class="check-icon" src="assets/img/otros/vector-10.svg" alt="icon"> Tax educational resourcest</li>
            <li><img class="check-icon" src="assets/img/otros/vector-10.svg" alt="icon"> AI form filling automation
            </li>
            <li><img class="check-icon" src="assets/img/otros/vector-10.svg" alt="icon"> IRS/CISA level security</li>
            <li><img class="check-icon" src="assets/img/otros/vector-10.svg" alt="icon"> Direct e-file submission</li>
            <li><img class="check-icon" src="assets/img/otros/vector-10.svg" alt="icon"> Advance payment</li>
            <li><img class="check-icon" src="assets/img/otros/vector-10.svg" alt="icon"> Invoice & document storage
              (unlimited)</li>

          </ul>
          <div class="btn-box">
            <a routerLink="/" class="default-btn">Update Now</a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="flex single-pricing-table black">
          <div class="corner">
            <h4>Exclusive VIP</h4>
          </div>
          <div class="pricing-header">
            <h3>Black (Exclusive VIP)</h3>
            <h4>Ultimate exclusive membership <br> by invitation only</h4>
          </div>
          <div class="price">
            <h3>By invitation only</h3>
          </div>
          <ul class="pricing-features">
            <li><img class="check-icon" src="assets/img/otros/vector-10.svg" alt="icon"> Free Tax declaration (no fees,
              included)</li>
            <li><img class="check-icon" src="assets/img/otros/vector-10.svg" alt="icon"> Chatbot Assistant (1-to-1
              priority)
            </li>
            <li><img class="check-icon" src="assets/img/otros/vector-10.svg" alt="icon"> Tax educational resources</li>
            <li><img class="check-icon" src="assets/img/otros/vector-10.svg" alt="icon"> AI form filling automation</li>
            <li><img class="check-icon" src="assets/img/otros/vector-10.svg" alt="icon"> IRS/CISA level security/li>
            <li><img class="check-icon" src="assets/img/otros/vector-10.svg" alt="icon"> Direct e-file submission</li>
            <li><img class="check-icon" src="assets/img/otros/vector-10.svg" alt="icon"> Advance payment</li>
            <li><img class="check-icon" src="assets/img/otros/vector-10.svg" alt="icon"> Invoice & document storage
              (unlimited) </li>
            <li><img class="check-icon" src="assets/img/otros/vector-10.svg" alt="icon"> Personal financial counseling
            </li>
            <li><img class="check-icon" src="assets/img/otros/vector-10.svg" alt="icon"> Retirement plan enrollment
            </li>
            <li><img class="check-icon" src="assets/img/otros/vector-10.svg" alt="icon"> ETF investment plans</li>
          </ul>
          <div class="btn-box">
            <a routerLink="/" class="default-btn">Request Invitation </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
