<div class="content-baner">
  <div class="img-header">
    <img src="assets/img/otros/img_header/Cartel5.png" alt="image">
  </div>
  <section class="slide_info">
    <div class="titels">
      <div class="logo_header">
        <img src="assets/img/otros/webneuraltax-2.png" alt="">
      </div>
      <h1>{{ 'HOME_TWO.SLIDES.SLIDE_5.TITLE_TOP' | translate }}</h1>
      <h2>{{ 'HOME_TWO.SLIDES.SLIDE_5.SUBTITLE_TOP' | translate }}</h2>
      <h1>{{ 'HOME_TWO.SLIDES.SLIDE_5.TITLE_BOTTOM' | translate }}</h1>
      <h2>{{ 'HOME_TWO.SLIDES.SLIDE_5.SUBTITLE_BOTTOM' | translate }}</h2>
    </div>
    <app-get-tax-button></app-get-tax-button>
  </section>
</div>
